$black: #151515;
$grey: #716F6F;
$light-grey: #f0f0f0;
$line: #dcdcdc;
$purple: #854DFF;
$red: #FF5959;

// Breakpoints
$sm: 'only screen and (max-width: 767px)';
$md: '(min-width: 767px) and (max-width: 1059px)';
$lg: '(min-width: 1060px)';
